<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <meta charset="utf-8">
    <title><%= title %></title>
</head>

<body>
    <h1><%= h1 %></h1>
    <ul class="alcoholList">
        <li>All</li>
        <% alcoholList.forEach((item) => { %>
        <li><%= item %></li>
        <% }) %>
    </ul>
    <div id="container">
        <div class="cocktail name">
            <header class="header">Name</header>
            <ul class ="test">
                <% cocktails.forEach((item) => { %>
                <li><%= item.name %></li>
                <li><%= item.contains %></li>
                <% }) %>
            </ul>
        </div>
        <div class="cocktail price">
            <header class="header">Price</header>
            <ul class ="test">
                <% cocktails.forEach((item) => { %>
                <li><%= item.price %></li>
                <% }) %>
            </ul>
        </div>
    </div>
</body>

</html>